
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Angular</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" routerLink="/user">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link"  routerLink="/student">Student</a>
              <a class="nav-item nav-link" routerLink="/teacher">Teacher</a>
              <a class="nav-item nav-link" routerLink="/users">Users</a>
              <a class="nav-item nav-link" routerLink="/user">User</a>
              <a class="nav-item nav-link" routerLink="/parent">Parent</a>
              <a class="nav-item nav-link" routerLink="/area">Area</a>
              <a class="nav-item nav-link" routerLink="/actors">Actor</a>
            </div>
          </div>
        </nav>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
<router-outlet></router-outlet>



</html>

